@import "https://fonts.googleapis.com/css?family=Open+Sans:400,700";
* { box-sizing: border-box; }
html { font: 12pt/1.5 "Open Sans", sans-serif; }
body { display: flex; justify-content: center; }
body > * { width: 1200px; position: relative; }
body { overflow-y: scroll; }
.pane { border: 1px solid #ccc; padding: 1.5rem 2rem; }
.pane { margin: 1.5rem 0; border-left: none; border-right: none; }
.pane + .pane { border-top: none; margin-top: 0; padding-top: 0; }
.active { background: #ffd; font-weight: bold; }
.closed { color: gray; }
button, input, select { font: inherit; padding: 0rem .25rem; }
.hidden { display: none; }
button { padding-left: 1rem; padding-right: 1rem; }
h3 { margin: 0 0 .75rem; }
table { text-align: right; border-collapse: collapse; }
td, th { padding: .25rem 1rem; }
